# Created by .ignore support plugin (hsz.mobi)
/skeleton/backend/npm-debug.log
/skeleton/backend/static-files/api-doc/
/skeleton/backend/node_modules/
/skeleton/backend/logs/
/skeleton/backend/tmp/
/skeleton/frontend/node_modules/
