<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span *ngIf="isNew">Create article</span>
        <span *ngIf="!isNew">Update article</span>
      </div>
      <div class="panel-body">
        <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
          <ul class="list-group">
            <li class="list-group-item text-danger" *ngIf="articleForm.get('title').hasError('required') && articleForm.get('title').touched">
              The title is required
            </li>
            <li class="list-group-item text-danger" *ngIf="articleForm.get('preview').hasError('required') && articleForm.get('preview').touched">
              The preview is required
            </li>
            <li class="list-group-item text-danger" *ngIf="articleForm.get('preview').hasError('minLength') && articleForm.get('preview').touched">
              The preview must be greater than 10 characters.
            </li>
            <li class="list-group-item text-danger" *ngIf="articleForm.get('content').hasError('required') && articleForm.get('content').touched">
              The content is required
            </li>
            <li class="list-group-item text-danger" *ngIf="articleForm.get('content').hasError('minLength') && articleForm.get('content').touched">
              The content must be greater than 10 characters.
            </li>
            <li class="list-group-item text-danger" *ngIf="articleForm.get('categoryID').hasError('required') && articleForm.get('categoryID').touched">
              The category is required
            </li>
            <li class="list-group-item text-danger" *ngFor="let error of errors">
              {{ error }}
            </li>
          </ul>
          <div class="form-group">
            <label>Article title</label>
            <input type="text" class="form-control" formControlName="title">
          </div>
          <div class="form-group">
            <label>Article preview</label>
            <textarea cols="5" rows="2" class="form-control" formControlName="preview"></textarea>
          </div>
          <div class="form-group">
            <label>Article content</label>
            <textarea cols="5" rows="5" class="form-control" formControlName="content"></textarea>
          </div>
          <div class="form-group">
            <label>Article category</label>
            <select formControlName="categoryID">
              <option *ngFor="let category of categoriesData" [ngValue]="category.id">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-info" [disabled]="articleForm.invalid">
              <span *ngIf="isNew">Create Article</span>
              <span *ngIf="!isNew">Update Article</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
