<div class="col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="text-center">{{ user.name }}'s profile</p>
    </div>
    <div class="panel-body">
      <div class="text-center">
        <img src="http://placehold.it/150x150" style="border-radius: 50%" width="140px" height="140px" alt="">
      </div>
      <br>
      <p class="text-center">
        Joined Date: {{ user.createdAt | date:'longDate' }}
      </p>
      <br>
      <p class="text-center" *ngIf="isAuthUserProfile()">
        <a class="btn btn-info" routerLink="edit">Edit your profile</a>
      </p>
    </div>
  </div>
  <div *ngIf="!isAuthUserProfile()">
    <app-follow [currentProfileId]="userId"></app-follow>
  </div>
</div>

<div class="col-lg-8">

  <nav mat-tab-nav-bar>
    <a mat-tab-link
       [routerLink]="['/users', userId]"
       [routerLinkActiveOptions]="{ exact: true }"
       routerLinkActive
       #rla="routerLinkActive"
       [active]="activeLinkIndex === 1"
       (click)="activeLinkIndex = 1"
    >
      Articles
    </a>
    <a mat-tab-link
       routerLink="skills"
       routerLinkActive
       #rla="routerLinkActive"
       [active]="activeLinkIndex === 2"
       (click)="activeLinkIndex = 2"
    >
      Courses
    </a>
    <a mat-tab-link
       routerLink="skills"
       routerLinkActive
       #rla="routerLinkActive"
       [active]="activeLinkIndex === 3"
       (click)="activeLinkIndex = 3"
    >
      Skills
    </a>
    <a mat-tab-link
       routerLink="edit"
       routerLinkActive
       #rla="routerLinkActive"
       [active]="activeLinkIndex === 4"
       (click)="activeLinkIndex = 4"
    >
      About
    </a>
  </nav>
  <br>
  <router-outlet></router-outlet>
</div>
