<section class="site-hero site-hero-innerpage article-details-header" data-stellar-background-ratio="0.5" style="background-image: url(http://localhost:8000/images/big_image_1.jpg);">
  <div class="container article-details-title">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <div>
          <h1>{{ article?.title }}</h1>
          <p>{{ article?.createdAt | date:'longDate'}} &bull; Posted by <a [routerLink]="['/users/profile', (article?.user.id || 0)]">{{ article?.user.name }}</a> in <a href="#">{{ article?.category.name }}</a></p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>


<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-content">
        <p class="lead">{{ article?.preview }}</p>
        <div>{{ article?.content }}</div>
        <br>
        <div class="pt-5">
          <p><b>Category:</b> <a href="#">{{ article?.category.name }}</a>
            <b>Tags:</b> <a *ngFor="let ability of article?.abilities">
              #{{ ability.name }}
            </a>
        </div>


        <div class="pt-5">
          <h3 class="mb-5">3 Comments</h3>
          <ul class="comment-list">
            <li class="comment">
              <div class="vcard bio">
                <img [src]="staticUrl + '/images/person_1.jpg'" alt="Image placeholder">
              </div>
              <div class="comment-body">
                <h3>Jean Doe</h3>
                <div class="meta">January 9, 2018 at 2:21pm</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
              </div>
            </li>

            <li class="comment">
              <div class="vcard bio">
                <img [src]="staticUrl + '/images/person_1.jpg'" alt="Image placeholder">
              </div>
              <div class="comment-body">
                <h3>Jean Doe</h3>
                <div class="meta">January 9, 2018 at 2:21pm</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
              </div>
            </li>

            <li class="comment">
              <div class="vcard bio">
                <img [src]="staticUrl + '/images/person_1.jpg'" alt="Image placeholder">
              </div>
              <div class="comment-body">
                <h3>Jean Doe</h3>
                <div class="meta">January 9, 2018 at 2:21pm</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
              </div>
            </li>
          </ul>

          <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Leave a comment</h3>
            <form action="#" class="p-5 bg-light">
              <div class="form-group">
                <textarea name="" title="message" id="message" cols="30" rows="10" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Post Comment" class="btn btn-primary">
              </div>

            </form>
          </div>
        </div>

      </div>
      <app-sidebar></app-sidebar>
    </div>
  </div>
</section>
