<section class="site-hero site-hero-innerpage article-details-header" data-stellar-background-ratio="0.5" style="background-image: url(http://localhost:8000/images/big_image_1.jpg);">
  <div class="container article-details-title">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <div>
          <h1>{{ article?.title }}</h1>
          <p>{{ article?.createdAt | date:'longDate'}} &bull; Posted by <a [routerLink]="['/users/profile', (article?.user.id || 0)]">{{ article?.user.name }}</a> in <a href="#">{{ article?.category.name }}</a></p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>


<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-content">
        <p class="lead">{{ article?.preview }}</p>
        <div>{{ article?.content }}</div>
        <br>
        <div class="pt-5">
          <p><b>Category:</b> <a href="#">{{ article?.category.name }}</a>
            <b>Tags:</b> <a *ngFor="let ability of article?.abilities">
              #{{ ability.name }}
            </a>
        </div>


        <div class="pt-5">
          <app-comment-list [comments]="article?.comments"></app-comment-list>
        </div>

      </div>
      <app-sidebar></app-sidebar>
    </div>
  </div>
</section>
