<div class="panel panel-default">
  <div class="panel-heading">
    <span>{{ article.title }}</span>
    <span class="pull-right"><a [routerLink]="['/users/profile', article.user.id]">{{ article.user.name }}</a></span>
  </div>
  <div class="panel-body">
    <p class="text-center">
      {{ article.preview }}
    </p>
    <p class="text-center">
      {{ article.content }}
    </p>
  </div>
  <div class="panel-footer">
    {{ article.createdAt | date:'longDate'}}
    <span *ngIf="isArticleCanBeModified()">
      <button class="pull-right" mat-raised-button color="primary" (click)="onEdit()">Edit</button>
      <button class="pull-right" mat-raised-button color="warn"  (click)="onDelete()">Delete</button>
    </span>
  </div>
</div>
